<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    
    $(document).ready(function() {
    $('#stockForm').on('submit', function(event) {
        event.preventDefault();
        var productId = $('#detailTable').data('product-id'); // 제품 ID를 가져오기 위해 설정
        updateStockDetails(productId);
	    });
	});
    
    function fetchStockDetails(productId) {
        $.ajax({
            type: 'GET',
            url: '/stock/stockDetail/' + productId,
            success: function (data) {
            let shopList = data.data.shopList;
            $('#detailTable').data('product-id', productId); // 제품 ID를 테이블에 저장
            $('#detailTable thead').html('<tr>' +
                '<th scope="col" style="width:30%; font-size:20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">' + data.data.stockDetail.productName + '</th>' +
                '<th scope="col" style="width:70%; font-size:20px;">상품 코드 : ' + data.data.stockDetail.barcode + '</th>' +
                '</tr>');
            
            $('#detailTable tbody').html('<tr>' +
                '<td>총 재고</td>' +
                '<td><input class="form-control border-0 me-2" name="quantity" type="text"  value="' + data.data.stockDetail.quantity + '" readonly></td>' +
                '</tr>' +
                '<tr>' +
                '<td>창고 재고</td>' +
                '<td><input class="form-control border-0 me-2" type="text"  value="' + (data.data.stockDetail.quantity - data.data.stockDetail.tempQuantity) + '" readonly></td>' +
                '</tr>' +
                '<tr>' +
                '<td>임시 재고</td>' +
                '<td><input class="form-control border-0 me-2" name="tempQuantity" type="text" value="' + data.data.stockDetail.tempQuantity + '"></td>' +
                '</tr>' +
                '<tr>' +
                '<td>안전 재고</td>' +
                '<td><input class="form-control border-0 me-2" name="safeQuantity" type="text"  value="' + data.data.stockDetail.safeQuantity + '"></td>' +
                '</tr>');

                for(let i=0; i<shopList.length; i++){
                    $('#detailShopTable tbody').append('<tr>' +
                        '<td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:25%; max-width:320px;" >' + shopList[i].sellerProductName + '</td>' +
                        '<td>' + shopList[i].shopName + '</td>' +
                        '<td><input class="form-control border-0 me-2" type="text" size="3"  value="' + shopList[i].quantity + '"></td>' +
                        '<td style="width:30%;"><a href="javascript:updateQuantity();" class="linkbtn">변경</a></td>' +
                        '</tr>');

                    }
                
        },
            error: function () {
                console.log('제품 세부 정보를 가져오는 중 오류가 발생했습니다.');
            }
        });
    }
    
    function updateStockDetails(productId) {
    var tempQuantity = $('input[name="tempQuantity"]').val();
    var safeQuantity = $('input[name="safeQuantity"]').val();

    $.ajax({
        type: 'POST',
        url: '/stock/edit/' + productId,
        data: JSON.stringify({
            productId: productId,
            tempQuantity: tempQuantity,
            safeQuantity: safeQuantity
        }),
        contentType: 'application/json',
        success: function (data) {
            window.location.reload();
        },
        error: function () {
            console.log('제품 세부 정보를 수정하는 중 오류가 발생했습니다.');
            // 실패 메시지 표시 또는 다른 동작 수행
        }
    });
}
    
    /*]]>*/
</script>

<div th:include="fragments/head.html"></div>
<body>
    <div class="position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


		<div th:include="fragments/sidebar.html"></div>

		        <!-- Content Start -->
		        <div class="content">
		            
		<div th:include="fragments/header.html"></div>


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">            
                    <div class="col-sm-12 col-xl-7">
                        <div class="bg-light rounded h-100 p-4">
                            <h4 class="mb-4">재고 관리</h4>
                            <div class="d-md-flex">
                                <form class="d-md-flex mb-3"   th:action="@{/stock/stockList}">
                                    <input class="form-control border-0 me-2" type="search" style="width: 70%;" placeholder="Search">
                                    <button type="submit" class="btn btn-primary">검색</button>
                                </form>
                                <div class="ms-auto">
	                                <button class="btn btn-primary mb-3" th:onclick="'generateExcel()'">Excel로 출력</button>
                                 </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">상품명</th>
                                        <th scope="col">재고</th>
                                        <th scope="col">안전 재고</th>
                                        <th scope="col">입고량</th>
                                        <th scope="col">출고량</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="stock : ${stock}">
                                       <td><a style="color: #757575" th:id="'productLink_' + ${stock.productId}" href="#" th:text="${stock.productName}" onclick="fetchStockDetails(this.getAttribute('data-product-id')); return false;" th:attr="data-product-id=${stock.productId}"></a></td>
		                               <td th:text="${stock.quantity}"></td>
		                                <td th:text="${stock.safeQuantity}"></td>
		                                <td th:text="${stock.importAmount}"></td>
		                                <td th:text="${stock.exportAmount}"></td>
                                    </tr>
                                </tbody>
                            </table>
  

						<div th:if="${!#lists.isEmpty(stock)}">
								<nav aria-label="Page navigation">
								        <ul class="pagination justify-content-center" >
								            <li class="page-item" th:if="${page > 1}">
								                <a class="page-link"  th:href="@{/stock/stockList(page=${page - 1})}" aria-label="Previous">
								                    <span aria-hidden="true">&laquo;</span>
								                </a>
								            </li>
											
								            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i == currentPage ? 'active' : ''}">
												<a class="page-link" th:href="@{/stock/stockList(page=${i})}" th:text="${i}"></a>
								            </li>
											
								            <li class="page-item" th:if="${page < totalPages}">
								                <a class="page-link" th:href="@{/stock/stockList(page=${page + 1})}" aria-label="Next">
								                    <span aria-hidden="true">&raquo;</span>
								                </a>
								            </li>
								        </ul>
								    </nav>
							</div>
                      </div>
                    </div>


                    <div class="col-sm-12 col-xl-5">
                        <div class="bg-light rounded h-100 p-4">
                            <h4 class="mb-4">재고 수정</h4>
                            <a href="#" class="btn btn-primary mb-3"> <b>입고</b></a>
                            <form id="stockForm">
                            <table class="table table-hover"  id="detailTable">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:30%; font-size:20px;">상품 명</th>
                                        <th scope="col" style="width:70%; font-size:20px;">상품 코드</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary mb-3" style="width: 100%;">등록</button>
                            </form> 
                            <table id="detailShopTable" class="table table-hover">
                            <thead>
                            <tr>
                                <th width="30%" scope="col">상품명</th>
                                <th width="20%" scope="col">쇼핑몰</th>
                                <th width="20%" scope="col">재고</th>
                                <th width="30%" scope="col">변경</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->
            
            <script>
			    function generateExcel() {
			        // 서버로 엑셀 파일 생성 요청을 보냅니다.
			        fetch('/product/downloadExcel')
			            .then(response => {
			                if (!response.ok) {
			                    throw new Error('Failed to generate Excel file');
			                }
			                return response.blob();
			            })
			            .then(blob => {
			                // 엑셀 파일 다운로드를 위한 링크 생성
			                const url = window.URL.createObjectURL(blob);
			                const a = document.createElement('a');
			                a.href = url;
			                a.download = 'products.xlsx';
			                document.body.appendChild(a);
			                a.click();
			                window.URL.revokeObjectURL(url);
			            })
			            .catch(error => {
			                console.error('Error:', error);
			            });
			    }

                function sendToData(){
                    $.ajax({
                        type: 'POST',
                        url: '/stock/stockDetail/' + productId,
                        success: function (data) {

                        },
                        error: function () {
                            console.log('제품 세부 정보를 가져오는 중 오류가 발생했습니다.');
                        }
                    });
                }

                function updateQuantity(){
                    if(confirm("해당 쇼핑몰 재고를 변경하시겠습니까?")){
                        $.ajax({
                            type: 'POST',
                            url: '/stock/stockDetail/' + productId,
                            success: function (data) {

                            },
                            error: function () {
                                console.log('제품 세부 정보를 가져오는 중 오류가 발생했습니다.');
                            }
                        });
                    }
                }
			</script>
           

			<div th:include="fragments/footer.html"></div>
