<html xmlns:th="http://www.thymeleaf.org">

<script th:inline="javascript">
    /*<![CDATA[*/
    function fetchStockDetails(productId) {
        $.ajax({
            type: 'GET',
            url: '/stock/stockDetail/' + productId,
           success: function (data) {
            $('#detailTable thead').html('<tr>' +
                '<th scope="col" style="width:30%; font-size:20px;">상품명 : ' + data.productName + '</th>' +
                '<th scope="col" style="width:70%; font-size:20px;">상품 코드 : ' + data.barcode + '</th>' +
                '</tr>');
            
            $('#detailTable tbody').html('<tr>' +
                '<td>총 재고</td>' +
                '<td><input class="form-control border-0 me-2" name="quantity" type="text" value="' + data.quantity + '"></td>' +
                '</tr>' +
                '<tr>' +
                '<td>창고 재고</td>' +
                '<td><input class="form-control border-0 me-2" name="safeQuantity" type="text"  value="' + data-quantity - data.tempQuantity + '" readonly></td>' +
                '<td>안전 재고</td>' +
                '<td><input class="form-control border-0 me-2" name="safeQuantity" type="text"  value="' + data.safeQuantity + '"></td>' +
                '</tr>');
        },
            error: function () {
                console.log('제품 세부 정보를 가져오는 중 오류가 발생했습니다.');
            }
        });
    }
    /*]]>*/
</script>

<div th:include="fragments/head.html"></div>
<body>
    <div class="position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


		<div th:include="fragments/sidebar.html"></div>

		        <!-- Content Start -->
		        <div class="content">
		            
		<div th:include="fragments/header.html"></div>


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">            
                    <div class="col-sm-12 col-xl-7">
                        <div class="bg-light rounded h-100 p-4">
                            <h4 class="mb-4">재고 관리</h4>
                            <div class="d-md-flex">
                                <form class="d-md-flex mb-3"   th:action="@{/stock/stockList}">
                                    <input class="form-control border-0 me-2" type="search" style="width: 70%;" placeholder="Search">
                                    <button type="submit" class="btn btn-primary">검색</button>
                                </form>
                                <div class="ms-auto">
	                                <button class="btn btn-primary mb-3" th:onclick="'generateExcel()'">Excel</button>
	                                <a href="#" class="btn btn-primary mb-3 ms-auto">주문 수집</a>
                                 </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">상품명</th>
                                        <th scope="col">재고</th>
                                        <th scope="col">안전 재고</th>
                                        <th scope="col">입고량</th>
                                        <th scope="col">출고량</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="stock : ${stock}">
                                       <td><a style="color: #757575" th:id="'productLink_' + ${stock.productId}" href="#" th:text="${stock.productName}" onclick="fetchStockDetails(this.getAttribute('data-product-id')); return false;" th:attr="data-product-id=${stock.productId}"></a></td>
		                               <td th:text="${stock.quantity}"></td>
		                                <td th:text="${stock.safeQuantity}"></td>
		                                <td th:text="${stock.importAmount}"></td>
		                                <td th:text="${stock.exportAmount}"></td>
                                    </tr>
                                </tbody>
                            </table>
  

						<div th:if="${!#lists.isEmpty(stock)}">
								<nav aria-label="Page navigation">
								        <ul class="pagination">
								            <li class="page-item" th:if="${page > 1}">
								                <a class="page-link"  th:href="@{/stock/stockList(page=${page - 1})}" aria-label="Previous">
								                    <span aria-hidden="true">&laquo;</span>
								                </a>
								            </li>
											
								            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i == currentPage ? 'active' : ''}">
												<a class="page-link" th:href="@{/stock/stockList(page=${i})}" th:text="${i}"></a>
								            </li>
											
								            <li class="page-item" th:if="${page < totalPages}">
								                <a class="page-link" th:href="@{/stock/stockList(page=${page + 1})}" aria-label="Next">
								                    <span aria-hidden="true">&raquo;</span>
								                </a>
								            </li>
								        </ul>
								    </nav>
							</div>
                      </div>
                    </div>


                    <div class="col-sm-12 col-xl-5">
                        <div class="bg-light rounded h-100 p-4">
                            <h4 class="mb-4">재고 수정</h4>
                            <a href="#" class="btn btn-primary mb-3"> <b>입고</b></a>
                            <form>
                            <table class="table table-hover"  id="detailTable">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:30%; font-size:20px;">상품 명</th>
                                        <th scope="col" style="width:70%; font-size:20px;">상품 코드</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>총 재고</td>
                                            <td><input class="form-control border-0 me-2" type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>창고 재고</td>
                                            <td><input class="form-control border-0 me-2" type="text"></td>
                                        </tr>
 										<tr>
                                            <td>안전 재고</td>
                                            <td><input class="form-control border-0 me-2" type="text"></td>
                                        </tr>                 
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary mb-3" style="width: 100%;">등록</button>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->
            
            <script>
			    function generateExcel() {
			        // 서버로 엑셀 파일 생성 요청을 보냅니다.
			        fetch('/product/downloadExcel')
			            .then(response => {
			                if (!response.ok) {
			                    throw new Error('Failed to generate Excel file');
			                }
			                return response.blob();
			            })
			            .then(blob => {
			                // 엑셀 파일 다운로드를 위한 링크 생성
			                const url = window.URL.createObjectURL(blob);
			                const a = document.createElement('a');
			                a.href = url;
			                a.download = 'products.xlsx';
			                document.body.appendChild(a);
			                a.click();
			                window.URL.revokeObjectURL(url);
			            })
			            .catch(error => {
			                console.error('Error:', error);
			            });
			    }
			</script>
           

			<div th:include="fragments/footer.html"></div>
