<div th:include="fragments/head.html"></div>
<script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script>
    $(document).ready(function() {
        $('#productSelect').change(function() {
            var selectedProductId = $(this).find(':selected').data('productId');
            $('#shopProductId').val(selectedProductId);
        });
    });
</script>
<body>
    <div class="position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

</div>
		<div th:include="fragments/sidebar.html"></div>

		 <div class="content">
		            
		<div th:include="fragments/header.html"></div>


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4 justify-content-center">
                        <div class="col-sm-12 col-xl-8">
                            <div class="bg-light rounded h-100 p-4">
                                <h3 class="mb-4">입/출고 신청</h3>
                                <form th:action="@{/storage/storageRequest}"  method="post">
                                	    <div class="mb-3">
								        <label for="exampleInputEmail1" class="form-label">구분</label>
								        <select class="form-select mb-3" name="division" aria-label="구분선택">
								            <option>구분선택</option>
								            <option value="1" selected>입고</option>
								            <option value="2">출고</option>
								        </select>
								    </div>
	    							<div class="mb-3">
	    							 <label for="exampleInputEmail1" class="form-label">상품명</label>
	                           		 <select class="form-select mb-3" id="productSelect" name="productName" aria-label="상품 선택">
	      									  <option selected>상품 선택</option>
	       										<option th:each="product : ${products}" th:value="${product.productName}" th:data-product-id="${product.productId}" th:text="${product.productName}"></option>
	   								 </select>
	                          		 </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">상품 수량</label>
                                        <input type="text" class="form-control" name="count">
                                    </div>
                                       <div class="mb-3">
									        <label class="form-label">입고센터</label>
									        <select class="form-select mb-3" name="warehouse" aria-label="입고지선택">
									            <option>입고지 선택</option>
									            <option th:value="화곡물류센터" th:text="화곡물류센터" selected></option>
									        </select>
									    </div>
                                    <div class="mb-3">
                                    	<label for="exampleInputPassword1" class="form-label" >우편번호 및 주소</label>
                                    	<div class="d-flex mb-3">
				                       	    <input type="text"  class="form-control w-25 me-1"  id="zipCode" name="zipcode" placeholder="우편번호"  required readonly>
				                     	    <button type="button"  class="btn btn-primary" onclick="daumPostcode()">우편번호 찾기</button><br>
				                     	</div>
				                     	<label for="exampleInputPassword1" class="form-label">주소</label>
				                     	<div class="d-flex mb-3">
				                            <input type="text"   class="form-control me-1"    id="address" name="address" placeholder="주소"  style="width:35%;" required readonly>
				                            <input type="text"   class="form-control"   id="addressDetail" name="addressDetail" placeholder="상세주소"  style="width:35%;" required>
                                	    </div>
                                    </div>
                                    <div class="mb-3">
                                        <input type="hidden" class="form-control" name="memberId"   th:value="${session.memberId}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">요청 사항</label>
                                        <textarea class="form-control" id="floatingTextarea" style="height: 150px;" name="bigo"></textarea>
                                    </div>
                                    
	    			
                              	   <div class="mb-3">
                                        <input type="hidden" class="form-control" id="shopProductId" name="productId">
                                    </div>
                                 
                                    <div class="mb-3 text-center">
                                        <a th:href="@{/product/productList}" class="btn btn-primary me-4 pe-3 ps-3">취소</a>
                                        <button type="submit" class="btn btn-primary pe-3 ps-3">입고 신청</button>                            
                                    </div>
                                    
                                </form>
                            </div>
                        </div>

                    
                </div>
            </div>
            <!-- Form End -->
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			<script>
		        function daumPostcode() {
		            new daum.Postcode({
		                oncomplete: function(data) {
		                    var addr = ''; // 주소 변수
		
		                    if (data.userSelectedType === 'R') {
		                        addr = data.roadAddress;
		                    } else {
		                        addr = data.jibunAddress;
		                    }
		
		                    document.getElementById("zipCode").value = data.zonecode;
		                    document.getElementById("address").value = addr;
		                    document.getElementById("addressDetail").focus();
		                }
		            }).open();
		        }
			</script>

            <div th:include="fragments/footer.html"></div>