<div th:include="fragments/head.html"></div>

<body>
    <div class="position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


		<div th:include="fragments/sidebar.html"></div>

		 <div class="content">
		            
		<div th:include="fragments/header.html"></div>


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4 justify-content-center">
                        <div class="col-sm-12 col-xl-8">
                            <div class="bg-light rounded h-100 p-4">
                                <h3 class="mb-4">입고 신청</h3>
                                <form>
    								<div class="mb-3">
   									 <label for="productSelect" class="form-label">상품명</label>
   								 		<select class="form-select mb-3" id="productSelect" aria-label="상품 선택">
      									  <option selected>상품 선택</option>
       										<option th:each="product : ${products}" th:value="${product.productId}" th:text="${product.productName}"></option>
   								 		</select>
									</div>
									
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">상품 수량</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">입고 센터</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">주소</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">요청 사항</label>
                                        <textarea class="form-control" id="floatingTextarea" style="height: 150px;"></textarea>
                                    </div>
                                    <div class="mb-3 text-center">
                                        <a th:href="@{/product/productList}" class="btn btn-primary me-4 pe-3 ps-3">취소</a>
                                        <a th:href="@{/storage/storageList}" class="btn btn-primary pe-3 ps-3">입고 신청</a>
                                
                                    </div>
                                </form>
                            </div>
                        </div>

                    
                </div>
            </div>
            <!-- Form End -->


            <div th:include="fragments/footer.html"></div>