<div th:include="fragments/head.html"></div>
<body>
    <div class="position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

		<div th:include="fragments/sidebar.html"></div>

        <!-- Content Start -->
        <div class="content">
            
		<div th:include="fragments/header.html"></div>

            <!-- Sale & Revenue End -->
			<div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
                    <div class="col-md-6 text-center p-4">
                        <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                        <th:block th:if="${error == 'Not Found'}">
                            <h1 class="display-1 fw-bold">404</h1>
                            <h1 class="mb-4">페이지가 없습니다</h1>
                            <a class="btn btn-primary rounded-pill py-3 px-5"  th:href="@{/index}">메인으로 가기</a>
                        <th:block>
                        <th:block th:if="${error == 'stock'}">
                            <h1 class="display-1 fw-bold">500</h1>
                            <h1 class="mb-4">재고 이상으로 판매할 수 없습니다.</h1>
                            <a class="btn btn-primary rounded-pill py-3 px-5"  th:href="@{/index}">메인으로 가기</a>
                        <th:block>
                    </div>
                </div>
            </div>

            
                    
                </div>
            </div>
            <!-- Widgets End -->
			<div th:include="fragments/footer.html"></div>
           
