<div th:include="fragments/head.html"></div>
<body>
    <div class="position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

		<div th:include="fragments/sidebar.html"></div>

        <!-- Content Start -->
        <div class="content">
            
		<div th:include="fragments/header.html"></div>

            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-4       ">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3 text-center">
                                <p class="mb-2">입고 수</p>
                                <h4 class="mb-0"  th:text="${divisionImportCount}"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3 text-center">
                                <p class="mb-2">출고 수</p>
                                <h4 class="mb-0"  th:text="${divisionExportCount}"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3 text-center">
                                <p class="mb-2">상품 수</p>
                                <h4 class="mb-0" th:text="${productCount}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-4">
                        <div class="bg-light text-center rounded p-4" style="height: 358px;">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">입고 현황</h6>
                                <a th:href="@{/storage/storageList}">상세보기</a>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">상품명</th>
                                    <th class="text-center" scope="col" style="color:red;">입고량</th>
                                    <th scope="col" class="text-center">등록일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="importList : ${importList}">
                                    <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:260px;" th:text="${importList.productName}" ></td>
                                    <td align="center" th:text="${importList.count}" class="fw-bold" style="color:red;"></td>
                                    <td align="center"  th:text="${#temporals.format(importList.insertDateTime,'yyyy-MM-dd')}"></td>
                                </tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-4">
                        <div class="bg-light text-center rounded p-4" style="height: 358px;">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">출고 현황</h6>
                                <a th:href="@{/storage/storageList}">상세보기</a>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">상품명</th>
                                    <th scope="col"  class="text-center" style="color:red;">출고량</th>
                                    <th scope="col" class="text-center">등록일</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="exportList : ${exportList}">
                                        <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:260px;"th:text="${exportList.productName}" ></td>
                                        <td align="center" th:text="${exportList.count}" class="fw-bold" style="color:red;"></td>
                                        <td align="center" th:text="${#temporals.format(exportList.insertDateTime,'yyyy-MM-dd')}"></td>
                                    </tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-4">
                        <div class="bg-light text-center rounded p-4" style="height: 358px;">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">재고 현황</h6>
                                <a th:href="@{/stock/stockList}">상세보기</a>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">상품명</th>
                                    <th scope="col"  class="text-center" style="color:red;">안전재고</th>
                                    <th scope="col"  class="text-center" >현재재고</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${productList}">
                                    <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:260px;" th:text="${product.productName}" ></td>
                                    <td align="center" th:text="${product.safeQuantity}" class="fw-bold" style="color:red;"></td>
                                    <td align="center" th:text="${product.quantity}"  class="text-center" ></td>
                                </tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->

            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    


<!--                    <div class="col-sm-12 col-xl-6">-->
<!--                        <div class="bg-light rounded h-100 p-4">-->
<!--                            <h6 class="mb-4">보관창고</h6>-->
<!--                            <iframe class="position-relative rounded w-100"-->
<!--                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.5438375460694!2d126.83644508511135!3d37.54224899996475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9d9f6a5bb64f%3A0x2a36dc0962275b13!2z64yA7ZWc7IOB6rO17ZqM7J2Y7IaMIOyEnOyauOq4sOyIoOq1kOycoeyEvO2EsA!5e0!3m2!1sko!2skr!4v1716113754891!5m2!1sko!2skr"-->
<!--                            frameborder="0" style="border:0; height: 87%;" allowfullscreen="" aria-hidden="false"-->
<!--                            tabindex="0"></iframe>-->
<!--                    -->
<!--                        </div>-->
<!--                    </div>-->
                    
                </div>
            </div>
            <!-- Widgets End -->
			<div th:include="fragments/footer.html"></div>
            